<h3>EquipmentCard</h3>

<MCard Height=146>
    <MCardText>
        <MRow Class="max-height" NoGutters>
            <MCol>
                <span class="text-btn neutral-lighten-4--text"></span>
                <h5 class="mt-1"></h5>
            </MCol>
        </MRow>
    </MCardText>
</MCard>

@code {

}
