@page "/devices/oee"
@inherits ProComponentBase
@inject IEquipmentStatisticsService _equipmentStatisticsService

<MCard>
    <MCardText Class="pa-6">
        <h6>查询</h6>
        <MRow Class="mt-3">
            <MCol Sm=12 Md=4>
                <MMenu @bind-Value="_menu1"
                       CloseOnContentClick="false"
                       NudgeRight="40"
                       Transition="scale-transition"
                       OffsetY
                       MinWidth="@("auto")">
                    <ActivatorContent>
                        <MTextField @bind-Value="_date1"
                                    Label="开始日期"
                                    PrependIcon="mdi-calendar"
                                    Readonly
                                    @attributes="context.Attrs"></MTextField>
                    </ActivatorContent>
                    <ChildContent>
                        <MDatePicker @bind-Value="_date1"
                                     OnInput="() => _menu1 = false"></MDatePicker>
                    </ChildContent>
                </MMenu>
            </MCol>
            <MCol Sm=12 Md=4>
                    <MMenu @bind-Value="_menu2"
                       CloseOnContentClick="false"
                       NudgeRight="40"
                       Transition="scale-transition"
                       OffsetY
                       MinWidth="@("auto")">
                    <ActivatorContent>
                        <MTextField @bind-Value="_date2"
                                    Label="结束日期"
                                    PrependIcon="mdi-calendar"
                                    Readonly
                        @attributes="context.Attrs"></MTextField>
                    </ActivatorContent>
                    <ChildContent>
                        <MDatePicker @bind-Value="_date2"
                                     OnInput="() => _menu2 = false"></MDatePicker>
                    </ChildContent>
                </MMenu>
            </MCol>
            <MCol Sm="12" Md="4">
                <MButton Color="primary" MinWidth=80 Height=32 Class="ml-6 rounded-pill" OnClick="QueryAsync">
                    查询
                </MButton>
            </MCol>
        </MRow>
    </MCardText>
</MCard>

<MCard Class="mt-6">
    <MECharts Option="_chatOption" Width="@("100%")" Height="300" IncludeFunctionsInOption>
    </MECharts>
</MCard>

@code {
    private bool _menu1, _menu2;
    private DateOnly _date1 = DateOnly.FromDateTime(DateTime.Now.AddDays(-7));
    private DateOnly _date2 = DateOnly.FromDateTime(DateTime.Now);
    private object _chatOption = new();

    private async Task QueryAsync()
    {
        var oeeCollection = await _equipmentStatisticsService.AnalysisOEEAsync(new OEEQueryInput
            {
                StartTime = TimeUtil.ToDateTime(_date1),
                EndTime = TimeUtil.ToDateTimeCeil(_date2),
            });

        var source = oeeCollection.OeeList;

        // 绘制 bar 图
        _chatOption = new OeeChatViewModel().BuildOeeChatOption(source);
    }
}
